footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

footer a, footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: #fff;
	text-decoration: none;
	margin: 0 4px;
}

footer a:hover {
	text-decoration: underline;
}